@reference "../../index.css";

:root {
    --primary-color: #013d81;
}

h1 {
    @apply text-blue-900 w-96 text-2xl text-center md:w-[1000px] md:text-5xl
}

h4 {
    @apply text-blue-900 m-0 text-sm md:text-base
}

.mobile {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 8px;
    position: relative;
    top: 0;
    animation: slideInLeft 0.5s forwards;
    -webkit-animation: slideInLeft 0.5s forwards;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

@-webkit-keyframes slideInLeft {
    100% {
        left: 0;
    }
}

@keyframes slideInLeft {
    100% {
        left: 0;
    }
}