@reference "../../index.css";

/* or your main Tailwind entry file */
:root {
    --primary-color: #0076fc;
    --font-size-base: 16px;
}

.title {
    @apply bg-transparent flex flex-row justify-start gap-x-1
}

.title .text {
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 37px;
    margin-left: 7px;
}

.nav {
    @apply hidden md:w-[725px] md:bg-transparent md:flex md:flex-row justify-start gap-x-[4%] xl:justify-between md:items-center
}

.li {
    color: white;
}

.title:hover {
    cursor: pointer;
}

.li:hover {
    color: #edf1f4;
}

span {
    font-size: var(--font-size-base);
}

.loginLink {
    @apply text-white absolute top-[36%] lg:top-[36%] xl:top-[35%] right-[5%]
}

.li:hover,
.loginLink:hover {
    color: #edf1f4;
}

.loginLink:hover {
    text-decoration: underline;
}