.slide-up-box {
    width: 100%;
    height: fit-content;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    background-color: white;
    font-size: 1.2em;
}